# Deep Learning
torch
torchvision
rfdetr

# Data Processing
pandas
numpy
pillow
tqdm

# Object Detection Dataset
pycocotools

# Visualization
matplotlib
opencv-python

# Experiment
scikit-learn
jupyter